@footer-img: url("../../../resources/img/img-footer.jpg");

table {
  font-style: italic
  .col-checkbox-size {
    width: 10px
  }
  .col-other-size {
    width: 30px
  }
  input[type=checkbox]:after {
  line-height: 1.5em;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #e0e0e0
  }
  input[type=checkbox]:checked:after {
  content: '✔';
  text-align: center
  }
  .table-wrapper-scroll-y {
  display: block;
  max-height: 460px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar
  }
}

.btn-size-color {
  width: 140px;
  border-color: #ced4da;
}

.background-hover-btn:hover {
  background-color: #28a745;
}

.page-footer {
  background: @footer-img;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-position: left buttom;
  height: 395px;
}

.calc-result {
  width: 350px;
  margin: auto;
  padding: 30px 0px 0px 40px;
  font-style: italic;
  font-size: 40px;
  font-weight: bolder;
}

.spaceBeforeText {
  display: inline-block;
  margin-left: 15px;
}